body {
  margin: 0;
  background-color: lightgrey;
  font-family: "Moderustic", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  overflow: hidden;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.nav {
  overflow: hidden;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav a {
  float: left;
  display: block;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  margin-right: 25px;
}

.nav a:hover {
  background-color: darkgrey;
  color: blue;
}

.nav a.active {
  background-color: white;
  color: blue;
}

.nav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {
    display: none;
  }
  .nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {
    position: relative;
  }
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.alpha {
  color: blue;
  font-family: "Moderustic", serif;
  text-align: center;
}

p {
  color: black;
  font-size: larger;
  text-align: center;
}

.stadium {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.stadium iframe {
  border-radius: 20px;
  width: 95%;
  z-index: 1;
}

.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.container img {
  border-radius: 25px;
  width: 100%;
  max-width: 450px;
  height: auto;
}

iframe {
  z-index: 50;
}
